@charset "UTF-8";
@import url(style.css);
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.hasPrize{
    width: 100%;
    height: 100%;
    background:url(../images/background2.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:0;
    left: 0;
}
.hasPrize .gameTitle{
    width: 9.26rem;
    height: 2.96rem;
    margin: 0 auto;
    position: relative;
    z-index: 11;
}
.hasPrize .gameTitle img{
    width: 100%;
    height: 100%;
    margin-top:1rem;
}
.prizeSuccess{
    width: 8.5rem;
    height: 11.56rem;
    background:url(../images/result-hit.png) no-repeat;
    background-size: 100% 100%;
    margin:0 auto;
    position: relative;
    display: none;
    margin-top: 0.5rem;
}
.weima_box{
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 111;
    right: 1.3rem;
    top: 4.2rem;
}
.giftbox{
    width: 3.3rem;
    height: 3.3rem;
    text-align: center;
    line-height: 3.5rem;
    position: absolute;
    z-index: 111;
    left: 1rem;
    top: 3.5rem;
}
.giftbox img{
    width: 3.2rem;
    vertical-align: middle;
}
.noPrize{
    width: 100%;
    height: 100%;
    background:url(../images/background2.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1111;
    display: none;
}
.noPrize .gameTitle{
    width: 9.26rem;
    height: 2.96rem;
    margin: 0 auto;
}
.noPrize .gameTitle img{
    width: 100%;
    height: 100%;
    margin-top:1rem;
}
.prizeMiss{
    width: 9rem;
    height: 9rem;
    background:url(../images/result-miss.png) no-repeat;
    background-size: 100% 100%;
    margin:0 auto;
    margin-top: 1.5rem;
}